<div class="commentName">Have a thought? Comment here!</div>
<%= form_for [@post, @comment] do |f| %>
  <%= f.label :commenter %><br>
  <%= f.text_field :commenter %><br>
  <%= f.label :message %><br>
  <%= f.text_field :message %><br><br>
  <%= f.submit %>
<%- end %>
