<%= link_to "View All Posts", :root %>
<%= render @post %>
<%= link_to "Edit Post", edit_post_path(@post) %>
<hr />
<%= render @post.comments %>
<hr />
<h2>Have a thought? Comment here!</h2>
<%= render partial: 'comments/form', locals: { submit_text: "Create Comment", comment: @comment } %>
