<!DOCTYPE html>
<html>
<head>
  <title>Weeblog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%- flash.each do |type, message| %>
  <p>There was an <%= type %> for you. <%= message %></p>
<%- end %>

<%= yield %>

</body>
</html>
