<!DOCTYPE html>
<html>
<head>
  <title>Weeblog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %> <!--"application refers to what? media...confusion-->
  <%= javascript_include_tag "application" %><!--confusion-->
  <%= csrf_meta_tags %><!--confusion-->
</head>
<body>

<%- flash.each do |type, message| %><!--confusion: what is flash?-->
  <p>There was an <%= type %> for you. <%= message %></p>
<%- end %>

<%= yield %>

</body>
</html>
